* {
    box-sizing: border-box;
}

.item-1, .item-2, .item-3 {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.item-1 {
    width: 25%;
    float: left;
    padding: 15px;
    height: 91.66vh;
    margin: 10px;
    border: 1px solid black;
    background: blue;
}

.item-2, .item-3 {
    width: 66.66%;
    float: left;
    padding: 15px;
    height: 45vh;
    margin: 7px;
    border: 1px solid black;
}

.item-2 {
    background-image: linear-gradient(to right, darkblue , lightblue);
}

p {
    margin: 0 auto;
}

.item-3 {
    background-image: url("https://i.pinimg.com/originals/cd/0e/4e/cd0e4e68d6ab713736561a5b1ddcf00d.jpg");
    background-size: cover;
}


